@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Złóż zamówienie</h1>
    
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a massa turpis. Mauris vel tempus ex. In et sollicitudin dolor. Integer accumsan pellentesque massa, non sollicitudin diam varius vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin aliquet libero velit, a suscipit magna porta eu. Vestibulum ac interdum elit.</p>

    <p>@Html.ActionLink("Zamów...", "Index", "PlaceOrder", new { @class = "btn btn-primary btn-lg" })</p>

</div>